<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyTransfers111.Properties.Settings.MyTransfers1ConnectionString"
            connectionString="Data Source=LAPTOP-0OLS9IRP;Initial Catalog=MyTransfers1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>